@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #040D1F;
}

.header__top{
    width: 100%;
    height: 80px;
   background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 50px;
   animation: bgrepet 2s linear infinite;
}
.icons{
    animation: 4s rotate linear infinite;
}

.header__top-text{
    width: 166px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-left: 25px;
    color: #FFFFFF;
}
/* header__top end */
/* header start */
.container{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.header__nav{
    width: 100%;
    height: 100px;
    background:black;
  

}
.header__logo{
    display: flex;
    align-items: flex-end;
    color: white;
    font-family: 'Comfortaa';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
}
.header__content{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}
.header__link{
width: 100%;
text-decoration: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: right;
margin-left: 30px;
color: #FFFFFF;
position: relative;
display: flex;
justify-content: center;
align-items: center;
transition: 0.5s;
}
.header__link:hover{
    color: #ED8E00;
}
.header__link::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #ED8E00;
    position: absolute;
    top: 56px;
    display: flex;
    border-radius: 23px 10px 0px 0px;
    transform: scale(0);
    transition: 0.5s;
}
.header__link:hover::after{
    
    transform: scale(1);
}
.header__bg{
    width: 100%;
    height: 650px;
    background: rgba(7, 15, 25, 0.75);
    position: relative;
}
.header__bg-img{
    width: 100%;
    height: 650px;
    position: absolute;
    z-index: -1;
}
.header__info{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.header__info-title{
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 78px;
color: #FFFFFF;
margin-bottom: 30px;
}
.header__info-text{
max-width: 570px;
width: 100%;
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: justify;
color: #C8C8C8;
margin-bottom: 50px;
}
.header__info-btn{
display: flex;
}
.btn{
    width: 166px;
    height: 50px;
    background: #ED8E00;
    color: black;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #040D1F;
    color: white;
    animation: yonsin 2s linear infinite ;
}
@keyframes rotate{
    100%{
        transform: rotateX(720deg);
    }
   }
   @keyframes bgrepet{
       to{
           filter: hue-rotate(360deg);
       }
   }
@keyframes yonsin {

0%{
    box-shadow: 0px 0px 20px wheat;
}
25%{
    box-shadow: 0px 0px 10px white;
}
50%{
    box-shadow: 0px 0px 20px white;
}
75%{
    box-shadow: 0px 0px 10px white;
}

100%{
    box-shadow: 0px 0px 20px white;
}

}
.title{
    width: max-content;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #F18128; 
    margin-top: 60px;
    margin-bottom: 65px;
    position: relative;
    cursor: pointer;
}
.title::after{
    content: '';
    width: 100%;
    height: 2px;
    background:#F18128 ;
    display: flex;
    margin-top: 8px;
    transform: scale(0);
    transition: 0.5s;
}
.title:hover::after{
    transform: scale(1.2);
    
}
.films__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.films__item{
    width: 255px;
    height: 365px;
    position: relative;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
border-radius: 6px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center ;
color: white;
}
.black-pantera{
    width: 255px;
    height: 365px;
    position:absolute;
    z-index: -1;
    
}
.films-icons{
    margin-top: 40px;
    font-size: 40px;
}
.films-time{
    width: 100px;
    height: 25px;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
}
.films-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
}
.films-text{
    width: 226px;
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
}




/* secton start */
.black__widow-content{
    max-width: 100%;
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    margin-bottom: 60px;
}
.black__widow-video{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.black-widow-logo{
    max-width: 445px;
    width: 100%;
 margin-top: 42px;
}
.black-widow-text{
    max-width: 558px;
    width: 100%;
    font-family: 'Roboto';
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #000000;
margin-top: 51px;
margin-bottom: 55px;
}

.collection__info{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.collection__content{
    width: 350px;
    height: 195px;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.collection-img{
    width: 350px;
    height: 195px;
    position: absolute;
    z-index: -1;
}
.collection__player{
    width: 350px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.collection__item{
    display: flex;
    max-width: 350px;
    height: 195px;
    justify-content: space-around;
}
.box{
    width: 19px;
    height: 25px;
    border-radius: 2px;
    background: #040D1F;
}
.collection__boxs-item{
    width: 350px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7px;
}
.collection__boxs-item2{
    width: 350px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 295px;
}
.Thrones{
    max-width: 100%;
    width: 100%;
    min-height: 435px;
    background:  linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    position: relative;
    margin-bottom: 30px;
}
.gameoff{
    width: 100%;
    min-height: 435px;
    position: absolute;
    z-index: -1;
}
.Thrones__content-title{
    font-family: 'Comfortaa';
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
margin-top: 95px;
color: #FFFFFF;
}
.Thrones__content{
    width: 100%;
    min-height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.Thrones__content-text{
font-family: 'Comfortaa';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
padding-left: 22px;
padding-right: 22px;
margin-top: 30px;
margin-bottom: 30px;
}   
.series__video{
    display: flex;
}
.series__wanda{
    max-width: 540px;
    width: 100%;
    height: 404px;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
border-radius: 6px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
}
.series__wanda>h1{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 10px;
}
.wanda-img{
    max-width: 540px;
    width: 100%;
    height: 404px;
    position: absolute;
    z-index: -1;
}
.series__box{
    display: flex;
    flex-direction: column;
}
.series__box-item{
width: 255px;
height: 185px;
margin-left: 30px;
margin-bottom: 30px;
background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
position: relative;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.box-img{
    width: 255px;
    height: 185px;
    position: absolute;
    z-index: -1;
}
.series__box-item>h1{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 20px;
}
.footer{
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.footer__content{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo{
    display: flex;
}
.footer__logo-img2{
    margin-left: 50px;
}
.footer__list{
    list-style: none;
}
.footer__link{
    font-family: 'Comfortaa';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: right;
letter-spacing: 0.01em;
color: #FFFFFF;
text-decoration: none;
}